@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #004680, #4484ba);
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #00d2ff, #3a7bd5);

    --background: 203 65% 4%;
    --foreground: 203 10% 97.5%;

    --muted: 203 50% 15%;
    --muted-foreground: 203 10% 55%;

    --popover: 203 45% 6.5%;
    --popover-foreground: 203 10% 97.5%;

    --card: 203 45% 6.5%;
    --card-foreground: 203 10% 97.5%;

    --border: 203 50% 15%;
    --input: 203 50% 15%;

    --primary: 203 100% 50%;
    --primary-foreground: 203 10% 5%;

    --secondary: 203 50% 15%;
    --secondary-foreground: 203 10% 97.5%;

    --accent: 203 50% 15%;
    --accent-foreground: 203 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 203 10% 97.5%;

    --ring: 203 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
  html {
    @apply h-full;
  }
}
