DATABASE_URL = 
NODE_ENV = "development"
GOOGLE_CLIENT_SECRET = 
GOOGLE_CLIENT_ID = 
JWT_SECRET = 
NEXTAUTH_SECRET = 
NEXT_PUBLIC_PIX_KEY = 
NEXT_PUBLIC_NO_IMAGE_PRODUCT = 
NEXT_PUBLIC_DISCOUNT_PERCENTAGE = 
NEXT_PUBLIC_PIX_NAME = 
NEXT_PUBLIC_PIX_CITY = 